.search input{
    width:100%;
    padding: 4px;
}

.login {
    display: block;
    float: right;
    margin-right: 30px;
}
.login span {
}
.content{
    clear: both;
	background: #fff url("../../frontend/img/header-back.jpg") top left no-repeat;
	
    padding-top: 88px;

}

html{
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
        display: block;
		font-size: 12px;
        font: 13px/1.65em "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
        margin-bottom: 3px;
        color: #666;
        }
a{
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font-size: 12px;
        font: 13px/1.65em "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
        margin-bottom: 3px;
        color: #666;
        }
		
tr:hover{
	background: #f4f4f4;
}

table a:link {
	color: #666;
	font-weight: bold;
	text-decoration:none;
}
table a:visited {
	color: #999999;
	font-weight:bold;
	text-decoration:none;
}
table a:active,
table a:hover {
	color: #bd5a35;
	text-decoration:underline;
}
table {
	font-family:Arial, Helvetica, sans-serif;
	color:#666;
	font-size:12px;
	text-shadow: 1px 1px 0px #fff;
	background:#eaebec;
	margin: 20px 5px 40px 5px;
	border:#ccc 1px solid;

	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;

	-moz-box-shadow: 0 1px 2px #d1d1d1;
	-webkit-box-shadow: 0 1px 2px #d1d1d1;
	box-shadow: 0 1px 2px #d1d1d1;
}
table th {
	padding:21px 25px 22px 25px;
	border-top:1px solid #fafafa;
	border-bottom:1px solid #e0e0e0;

	background: #ededed;
	background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
	background: -moz-linear-gradient(top,  #ededed,  #ebebeb);
}
table th:first-child {
	text-align: left;
	padding-left:20px;
}
table tr:first-child th:first-child {
	-moz-border-radius-topleft:3px;
	-webkit-border-top-left-radius:3px;
	border-top-left-radius:3px;
}
table tr:first-child th:last-child {
	-moz-border-radius-topright:3px;
	-webkit-border-top-right-radius:3px;
	border-top-right-radius:3px;
}
table tr {
	text-align: center;
	padding-left: inherit;
}
table td:first-child {
	text-align: left;
	border-left: 0;
}
table td {
	padding: inherit;
	border-top: 1px solid #ffffff;
	border-bottom:1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;

	background: #fafafa;
	background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
	background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);
}
table tr.even td {
	background: #f6f6f6;
	background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
	background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6);
}
table tr:last-child td {
	border-bottom:0;
}
table tr:last-child td:first-child {
	-moz-border-radius-bottomleft:3px;
	-webkit-border-bottom-left-radius:3px;
	border-bottom-left-radius:3px;
}
table tr:last-child td:last-child {
	-moz-border-radius-bottomright:3px;
	-webkit-border-bottom-right-radius:3px;
	border-bottom-right-radius:3px;
}
table tr:hover td {
	background: #f2f2f2;
	background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
	background: -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0);	
}



.search input{
    width:100%;
    padding: 4px;
}

.login {
    display: block;
    float: right;
    margin-right: 30px;
}
.login span {
}
.content{
    clear: both;
	background: #fff url("../../frontend/img/header-back.jpg") top left no-repeat;
	
    padding-top: 88px;

}


.ng-scope input[type='text'],.ng-scope input[type='email'], select {
border-color: #e1e1e1;
background-color: #fcfcfc;
color: #919191;
margin-bottom: 0;
border: 1px solid #e1e1e1;
padding: 8px 6px;
outline: none;
width: 300px;
margin-bottom: 10px;
background: #F3EFE4;
-webkit-font-smoothing: antialiased;
border-radius: 0px;
}

.ng-scope input[type='submit']{
border-color: aliceblue;
color: #919191;
margin-top: 10px;
display: inline;
min-width: 100px;
padding: 13px;
border-radius: 2px;
border: 1px solid transparent;
padding: 8px 6px;
outline: none;
font: 13px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
color: #FFFFFF;
width: 300px;
display: block;
margin-bottom: 10px;
background: #F3EFE4;
-webkit-font-smoothing: antialiased;
border-radius: 0px;
background: #FDC283;
text-transform: uppercase;
font-weight: bold;
}


.ng-scope input[type='submit']:hover {
background: #E48E32;
cursor: pointer;
}

.inscripcion{
	margin-top: 30px;
	border: #f5f5f5 solid 1px;
	padding: 20px;
	float: left;
	background: #FDFDF4;
}