<!DOCTYPE html>
<html ng-app="inscApp">
    <head>
        <title>Nueva inscripcion</title>
        <script src="js/jquery-1.10.2.min.js"></script>
        <script src="js/jquery.form-validator.min.js"></script>
        <script src="angular/angular.min.js"></script>
        <script src="js/xeditable.min.js"></script>

        <script src="angular/angular-route.min.js"></script>
        <script src="angular/angular-resource.js"></script>
        <script src="js/controller.js"></script>
        <script src="js/services.js"></script>
        <script src="js/app.js"></script>
        <link rel="stylesheet" href="styles.css"/>
        <script>
            $(document).ready(function() {
                $("#becado-select").change(function() {
                    if ($(this).val() == 0) {
                        $(".becado").hide();
                        $(".nobecado").show();
                    } else if ($(this).val() == 1) {
                        $(".nobecado").hide();
                        $(".becado").show();
                    } else {
                        $(".becado").hide();
                        $(".nobecado").hide();
                    }
                });

                $("#form-inscrip").submit(function() {
                    if (($("#becado-select").val() == 0) && ($("#aceptoNoBecado").attr("checked") == 0)) {
                        alert("Acepte el monto");
                    }
                });
                $.validate({
                    validateOnBlur: true,
                    showHelpOnFocus: false,
                    addSuggestions: false
                });
            });
        </script>
    </head>
    <body ng-controller="nuevoCtrl">

        <div class="inscripcion" >
            <form id="form-inscrip" name="nueva-inscripcion" action="save.php" method="post">
                <span>Apellido: </span><input type="text" name="apellido" data-validation="required"><br/>
                <span>Nombre: </span><input type="text" name="nombre" data-validation="required"><br/>
                <span>Email: </span><input type="text" name="email" data-validation="email"><br/>
                <span>Tipo de Documento: </span>
                <select name="tipoDoc" data-validation="required">
                    <option ng-repeat="tipoDoc in tiposDoc" value="{{tipoDoc.value}}">{{tipoDoc.label}}</option>
                </select>
                <span>Numero Documento: </span><input type="text" name="numeroDoc" data-validation="number"><br/>
                <span>Pais de Nacimiento:</span>
                <select name="paisNac">
                    <option ng-repeat="pais in paisesNac" value="{{pais.value}}">{{pais.label}}</option>
                </select>

                <span>Profesion: </span>
                <select name="profesion">
                    <option ng-repeat="prefesion in profesiones" value="{{prefesion.value}}">{{prefesion.label}}</option>
                </select>
                <span>Especialidad: </span><input type="text" name="especialidad" data-validation="required"><br/>
                <span>Pais de Residencia:</span>
                <select name="paisRes">
                    <option ng-repeat="pais in paisesRes" value="{{pais.value}}">{{pais.label}}</option>
                </select>
                <span>Provincia: </span><input type="text" name="provincia" data-validation="required"><br/>
                <span>Domicilio: </span><input type="text" name="domicilio" data-validation="required"><br/>
                <span>Codigo Postal: </span><input type="text" name="codigoPostal" data-validation="required"><br/>

                <span>Esta Becado: </span>
                <select name="esBecado" id="becado-select">
                    <option value="-">Seleccione uno</option>
                    <option value="0">No</option>
                    <option value="1">Si</option>
                </select>
                <div class="nobecado">
                    <p>Ud debera abonar $50 a la hora de acreditarse</p>
                    <input type="checkbox" id="aceptoNoBecado"/> Comprendo y acepto
                </div>
                <div class="becado">
                    <span>Laboratorio que concede la beca</span>
                    <select name="laboratorio">
                        <option ng-repeat="labo in laboratorios" value="{{labo.value}}">{{labo.label}}</option>
                    </select>
                </div>
                <input type="submit" value="Guardar"/>
            </form>

        </div>
    </body>
</html>