<!DOCTYPE html>
<html ng-app="inscApp">
    <head>
        <title>Nueva inscripcion</title>
        <script src="../angular/angular.min.js"></script>
        <script src="../angular/angular-route.min.js"></script>
        <script src="../angular/angular-resource.js"></script>
        <script src="js/controller.js"></script>
        <script src="js/services.js"></script>
        <script src="js/app.js"></script>
        <link rel="stylesheet" href="css/styles.css"/>
    </head>
    <body>

        <div class="inscripcion" >
            <form novalidate ng-controller="nuevoCtrl" name="nuevoInsc" ng-submit="submitForm()">

                <span>Apellido: </span><input type="text" name="apellido" ng-model="nuevo.apellido" required/><br/>
                <div class="error" ng-show="nuevoInsc.apellido.$invalid && showErrors">
                    <small class="error" ng-show="nuevoInsc.apellido.$error.required">
                        El apellido debe ser completado
                    </small>
                </div>


                <span>Nombre: </span><input type="text" name="nombre" ng-model="nuevo.nombre" required/><br/>
                <div class="error" ng-show="nuevoInsc.nombre.$invalid && showErrors">
                    <small class="error" ng-show="nuevoInsc.nombre.$error.required">
                        El nombre debe ser completado
                    </small>
                </div>


                <span>Email: </span><input type="email" name="email" ng-model="nuevo.email" required/><br/>
                <div class="error" ng-show="nuevoInsc.email.$invalid && showErrors">
                    <small class="error" ng-show="nuevoInsc.email.$error.required">
                        El email debe ser completado
                    </small>
                    <small class="error" ng-show="nuevoInsc.email.$error.email">
                        No es una direccion de mail valida
                    </small>
                </div>


                <span>Tipo de Documento: </span>
                <select ng-model="nuevo.tipoDoc">
                    <option ng-repeat="tipoDoc in tiposDoc" value="{{tipoDoc.value}}">{{tipoDoc.label}}</option>
                </select><br/>


                <span>Numero Documento: </span><input type="text" name="numeroDoc" ng-model="nuevo.numeroDoc" ng-pattern="/^[0-9]{7,9}$/" required/><br/>
                <div class="error" ng-show="nuevoInsc.numeroDoc.$invalid && showErrors">
                    <small class="error" ng-show="nuevoInsc.numeroDoc.$error.required">
                        El numero de documento debe ser completado
                    </small>
                    <small class="error" ng-show="nuevoInsc.numeroDoc.$error.pattern">
                        El numero de documento debe tener entre 7 y 9 caracteres
                    </small>
                </div>


                <span>Pais de Nacimiento:</span>
                <select ng-model="nuevo.paisNac">
                    <option ng-repeat="pais in paisesNac" value="{{pais.value}}">{{pais.label}}</option>
                </select><br/>

                <span>Profesion: </span>
                <select ng-model="nuevo.profesion">
                    <option ng-repeat="prefesion in profesiones" value="{{prefesion.value}}">{{prefesion.label}}</option>
                </select><br/>


                <span>Especialidad: </span><input type="text" name="especialidad" ng-model="nuevo.especialidad" required/><br/>
                <div class="error" ng-show="nuevoInsc.especialidad.$invalid && showErrors">
                    <small class="error" ng-show="nuevoInsc.especialidad.$error.required">
                        La especialidad debe ser completada
                    </small>
                </div>

                <span>Pais de Residencia:</span>
                <select ng-model="nuevo.paisRes" ng-change="checkPais()">
                    <option ng-repeat="pais in paisesRes" value="{{pais.value}}">{{pais.label}}</option>
                </select><br/>
                <div ng-show="nuevo.paisRes == '1'">
                    <span>Provincia: </span>
                    <select ng-model="nuevo.provincia">
                        <option ng-repeat="provincia in provincias" value="{{provincia.value}}">{{provincia.label}}</option>
                    </select>
                </div>
                <div ng-hide="nuevo.paisRes == '1'">
                    <span>Provincia: </span><input type="text" ng-model="nuevo.provincia" required/>
                </div>


                <span>Esta Becado: </span>
                <div>
                    <input type="radio" ng-model="nuevo.esBecado" value="0"/> No <br/>
                    <input type="radio" ng-model="nuevo.esBecado" value="1"/> Si <br/>
                </div>
                <div class="error" ng-show="!nuevo.esBecado && showErrors">
                    <small class="error">
                        Seleccione su situacion becaria
                    </small>
                </div>


                <div ng-show="nuevo.esBecado == 0">
                    <p>Ud debera abonar $50 a la hora de acreditarse</p>
                    <input type="checkbox" ng-model="becadoAcepto" ng-required="nuevo.esBecado=='0'"/> Comprendo y acepto
                    <div class="error" ng-show="!becadoAcepto && showErrors">
                        <small class="error">
                            Acepte el costo
                        </small>
                    </div>
                </div>


                <div ng-show="nuevo.esBecado == 1">
                    <span>Laboratorio que concede la beca</span>
                    <select ng-model="nuevo.laboratorio">
                        <option ng-repeat="labo in laboratorios" value="{{labo.value}}">{{labo.label}}</option>
                    </select>
                </div>
                <input type="submit" value="Guardar"/>
            </form>

        </div>
    </body>
</html>