        <div class="inscripcion" >
            <form novalidate name="nuevoInsc" ng-submit="submitForm()">
                <input type='text' style="display:none" ng-model='inscripto.ID'/>
                <span>Apellido: </span><input type="text" ng-model="inscripto.apellido" required/><br/>
                <span>Nombre: </span><input type="text" ng-model="inscripto.nombre" required/><br/>
                <span>Email: </span><input type="email" ng-model="inscripto.email" required/><br/>
                <span>Tipo de Documento: </span>
                <select ng-model="inscripto.tipoDoc">
                    <option ng-repeat="tipoDoc in tiposDoc" value="{{tipoDoc.value}}">{{tipoDoc.label}}</option>
                </select>
                <span>Numero Documento: </span><input type="text" ng-model="inscripto.numeroDoc" ng-pattern="/[0-9]{7,9}/"/><br/>
                <span>Pais de Nacimiento:</span>
                <select ng-model="inscripto.paisNac">
                    <option ng-repeat="pais in paisesNac" value="{{pais.value}}">{{pais.label}}</option>
                </select>

                <span>Profesion: </span>
                <select ng-model="inscripto.profesion">
                    <option ng-repeat="prefesion in profesiones" value="{{prefesion.value}}">{{prefesion.label}}</option>
                </select>
                <span>Especialidad: </span><input type="text" ng-model="inscripto.especialidad" required/><br/>
                <span>Pais de Residencia:</span>
                <select ng-model="inscripto.paisRes" ng-change="checkPais()">
                    <option ng-repeat="pais in paisesRes" value="{{pais.value}}">{{pais.label}}</option>
                </select>
                <div ng-show="inscripto.paisRes == '1'">
                    <span>Provincia: </span>
                    <select ng-model="inscripto.provincia">
                        <option ng-repeat="provincia in provincias" value="{{provincia.value}}">{{provincia.label}}</option>
                    </select>
                </div>
                <div ng-hide="inscripto.paisRes == '1'">
                    <span>Provincia: </span><input type="text" ng-model="inscripto.provincia" required/><br/>
                </div>
                <span>Domicilio: </span><input type="text" ng-model="inscripto.domicilio" required/><br/>
                <span>Codigo Postal: </span><input type="text" ng-model="inscripto.codigoPostal" required/><br/>

                <span>Esta Becado: </span><br/>
                <input type="radio" ng-model="inscripto.esBecado" value="0"/> No <br/>
                <input type="radio" ng-model="inscripto.esBecado" value="1"/> Si <br/>
                <div ng-show="inscripto.esBecado==1">
                    <span>Laboratorio que concede la beca</span>
                    <select ng-model="inscripto.laboratorio">
                        <option ng-repeat="labo in laboratorios" value="{{labo.value}}">{{labo.label}}</option>
                    </select>
                </div>
                <input ng-disabled="nuevoInsc.$invalid" type="submit" value="Guardar"/>
            </form>

        </div>
